* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}


body {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #212121;
  color: #fff;
}

.container {
  width: 200px;
  height: 200px;
  /* outline: auto; */
  margin-top: 1rem;
  cursor: pointer;
}

.inpu-field {
  padding: 6px 20px;
  background-color: azure;
  border: 1px solid black;
  border-radius: 10px;
  font-size: 16px;
}

.btn {
  padding: 10px 30px ;
  border-radius: 30px;
  border: none;
  background-color: orange;

}